@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary-color: #ff6a00;
    --white: #fff;
    --gray: #999;
    --light-gray: #D3D3D3;
    --black: #212121;
    --dark-gray: #333;
    --main-gradient: linear-gradient(90deg, rgba(112, 197, 107, 1) 0%, rgba(75, 172, 109, 1) 35%, rgba(39, 143, 107, 1) 100%);
}

/* #0A0A0A #121212 #15292B #161618 #181818 #192734 #212121 #212124 #22303C #242526 #282828 #3A3B3C #404040 */

html {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

#navbar {
    border-bottom: 0.1px solid var(--white);
    background-color: var(--black);
    display: flex;
    justify-content: center;
    gap: 50rem;
    align-items: center;
}

#navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-logo-div h1 {
    font-size: 1.5rem;
    color: var(--white);
}

#navbar-logo {
    width: 4rem;
}

#navbar-links {}

#navbar-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#navbar-ul li {
    list-style: none;
}

#navbar-ul li a {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
}

#navbar-ul li:nth-child(3) a {
    color: var(--white);
    text-decoration: none;
    background: var(--main-gradient);
    padding: 0.5rem 1rem;
    border-radius: 5rem;

}

#section-hero {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ff6a00; */
    border-bottom: 1px solid var(--white);
    background-color: var(--black);
    background-color: #212121;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23333333' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2370C56B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

#section-hero-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
    /* background-color: #fff; */

}

#section-hero-div div {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

#section-hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#section-hero-left h2 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 2rem;
}

#section-hero-left p {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    width: 80%;
}
#section-hero-left a {
  text-decoration:none;
    cursor: pointer;

}
#section-hero-left button {
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    color: var(--white);
    background: var(--main-gradient);
    font-weight: 700;

}
#section-hero-left button:hover {
    cursor: pointer;
}

#section-hero-right {}

#trending-section {
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid var(--dark-gray);
}

#trending-section-container {
    width: 75%;
    margin: auto;
}

#trending-heading-div {
    display: flex;
    align-items: center;
    gap: 0.7rem;

}

#trending-heading-div .fa-regular.fa-circle {
    font-size: 1.5rem;
    position: relative;
    font-weight: 100;

}

#trending-heading-div .fa-solid.fa-arrow-trend-up {
    position: absolute;
    left:12rem;
}

#trending-content-div {
    display: grid;
    justify-content: space-between;
    /* how many items    how mush per */
    grid-template-columns: repeat(3, 30%);
    gap: 3rem;
}

#trending-article {
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: start;
}

#trending-article p {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    color: var(--dark-gray);
}

.trending-article-content {}

.trending-article-content img {
    border-radius: 50%;
    width: 1.5rem;
}

.trending-article-content a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--white);
    font-weight: 700;
    display: inline-block;
}

.trending-article-content h2 {
    font-size: 1rem;
}

.trending-article-content span {
    font-size: 0.9rem;
    color: var(--gray);
}

.trending-article-content-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}